.overview {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--color-gray-2);
	
	&__heading {
		font-size: 2rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: .5px;
		padding: 1.5rem;
	}
	
	&__yields {
		margin-right: auto;
		display: flex;
	}
	
	&__icon-yield,
	&__icon-source {
		width: 1.75rem;
		height: 1.75rem;
		fill: var(--color-main);
	}
	
	&__source {
		font-size: 1.2rem;
		display: flex;
		align-items: center;
	}
	
	&__icon-source {
		margin-right: .5rem;
	}
	
	&__details {
		background-color: var(--color-main);
		margin-left: 3rem;
		color: var(--color-white);
		align-self: stretch;
		padding: 0 2.25rem;
		
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	
	&__details-number {
		font-size: 2.25rem;
		font-weight: 300;
		margin-bottom: -6px;
	}
	
	&__details-minutes {
		font-size: 1rem;
		text-transform: uppercase;
	}
}

.btn-inline {
	border: none;
	color: var(--color-main);
	font-size: inherit;
	border-bottom: 1px solid currentColor;
	padding-bottom: 2px;
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	transition: all .2s;
	
	&:hover {
		color: var(--color-gray-7);
	}

	&:focus {
		outline: none;
		animation: pulsate 1s infinite;
	}
}

@keyframes pulsate {
	0% {
		transform: scale(1);
		box-shadow: none;
	}
	
	50% {
		transform: scale(1.05);
		box-shadow: 0 1rem 4rem rgba(0,0,0, .25);
	}
	
	100% {
		transform: scale(1);
		box-shadow: none;
	}
}