.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-gray-1);
	box-shadow: var(--shadow-dark);
	min-height: 50rem;
}

.header {
	height: 7rem;
	background-color: var(--color-white);
	border-bottom: 1px solid var(--color-gray-2);
	font-size: 1.4rem;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
}

.sidebar {
	background-color: var(--color-gray-7);
	flex: 0 0 20%;
}

.main {
	background-color: var(--color-white);
	flex: 1;
}

.detail {
	font-size: 1.4rem;
	display: flex;
	padding: 4.5rem;
	background-color: var(--color-gray-1);
	border-bottom: 1px solid var(--color-gray-2);
}

.description {
	background-color: var(--color-white);
	box-shadow: 0 2rem 5rem rgba(0,0,0, .06);
	padding: 3rem;
	flex: 0 0 60%;
	margin-right: 4.5rem;
}

.labels {
	flex: 1;
}