.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-gray-1);
	box-shadow: var(--shadow-dark);
	min-height: 50rem;
}

.header {
	height: 7rem;
	background-color: var(--color-white);
	border-bottom: var(--color-gray-2);
	font-size: 1.4rem;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
}

.sidebar {
	background-color: var(--color-gray-7);
	flex: 0 0 20%;
}

.main {
	background-color: var(--color-white);
	flex: 1;
	
	// TEST
	height: 80vh;
}