// =========== COLORS ============= //

$color-main: #2ecc71;
$color-main-light: #54d98c;
$color-main-dark: #25a25a;

$color-white: #fff;
$color-gray-1: #faf9f9;
$color-gray-2: #f4f2f2;
$color-gray-3: #f0eeee;
$color-gray-4: #ccc;

$color-gray-7: #333;
$color-gray-8: #777;
$color-gray-9: #999;

// FONT
$color-text: #333;

// ============= GRID ============== //

$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3.75rem;
$gutter-horizontal: 3.75rem; 
